name: Deploy KKR Scraper
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.SERVER_IP }}
        username: ${{ secrets.SSH_USER }}
        password: ${{ secrets.SSH_PASS }}
        port: ${{ secrets.SSH_PORT }}
        script: |
          cd /opt/kkr-scraper || git clone https://github.com/sanketnawale/YOUR_REPO.git /opt/kkr-scraper
          cd /opt/kkr-scraper
          git pull
          docker-compose -f docker-compose.prod.yml up -d --build
