name: Deploy KKR Scraper to Contabo
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      
      - name: Deploy via SSH to Contabo
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: 213.199.48.152          
          port: 22                      
          username: root                 # 
          password: opportunity@321      # 
          script: |
            echo " Deploying KKR to Contabo..."
            docker stop kkr-api kkr-mongo 2>/dev/null || true
            docker rm kkr-api kkr-mongo 2>/dev/null || true
            docker network rm kkr-net 2>/dev/null || true
            docker network create kkr-net
            docker run -d --name kkr-mongo --network kkr-net -p 27017:27017 -v kkr-data:/data/db mongo:latest
            
            docker run -d --name kkr-api --network kkr-net --init --ipc=host \
              -p 3001:3000 -e MONGO_URI="mongodb://kkr-mongo:27017/kkr" \
              mcr.microsoft.com/playwright:v1.58.0-noble \
              sh -c "cd /home/pwuser && git clone https://github.com/sanketnawale/kkr-app.git app && cd app && npm install @nestjs/schedule @nestjs/axios --legacy-peer-deps && npm install --legacy-peer-deps && npx playwright install --with-deps && npm run build && npm run start:prod"
